<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbBrandMapper" >
<!--查询所有-->
    <select id="findAll" resultType="tbBrand">
        select id, name,first_char as firstChar from tb_brand
    </select>
<!--新增一条数据-->
    <insert id="add" parameterType="tbBrand">
        insert into tb_brand (name,first_char) VALUES (#{name},#{firstChar})
    </insert>
<!--查询需要被修改的参数-->
   <select id="selectByPrimayKey" parameterType="Long" resultType="tbBrand">
       select id, name,first_char as firstChar from tb_brand where id =#{id}
   </select>
<!--根据ID修改参数-->
    <update id="updateByPrimayKey" parameterType="tbBrand">
        update tb_brand set name=#{name} , first_char=#{firstChar} where id = #{id}
    </update>
    <!--根据ID删除数据-->
    <delete id="deleteByPrimayKey" parameterType="Long">
        DELETE from tb_brand where id=#{id}
    </delete>
<!--根据条件查询数据-->
    <select id="search" parameterType="tbBrand" resultType="tbBrand">
      select id, name,first_char as firstChar from tb_brand
        <where>
        <if test="name !=null and name !=''">
        and name like '%${name}%'
        </if>
        <if test="firstChar !=null and firstChar !=''">
            and first_char = #{firstChar}
        </if>
    </where>
    </select>

</mapper>